// --------------COLOR VARIABELS-------------//

$TitleColor: rgb(0, 0, 46);
$TextColor: rgb(89, 88, 88);
$BtnColor: #387cfa;

// --------------FONTS VARIABELS-------------//

$RegularFontSize: 17px;
$TitleFont: 27px;
$TitleFontFamily: Arial, Helvetica, sans-serif;